# compiled output
/dist
/tmp
/out-tsc
/angular/cache
/.angular

# dependencies
/front/node_modules/

# IDE and build tools
/.vscode
/.idea
*.sublime-project
*.sublime-workspace

# environment files
src/environments/*.ts
!src/environments/environment*.ts

# misc
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
pnpm-lock.yaml